<!DOCTYPE html>
<html>
    <head>
        <title>
            Learning ExpressJS
        </title>
    </head>
    <body>
        <!--<h1>Hello <%= 2 + 2%></h1>-->
        <!--<h1>Hello <%= text%></h1>-->
        <h1>Hello <%= locals.text || 'Default'%></h1>
    </body>
</html>